.vscode/
AI.cpp
AI.h
Building.cpp
Building.h
BuildingState.h
Elevator.cpp
Elevator.h
Floor.cpp
Floor.h
Game.cpp
Game.h
Makefile
Move.cpp
Move.h
Person.cpp
Person.h
SatisfactionIndex.cpp
SatisfactionIndex.h
Utility.h
elevators.exe
elevators.txt
eveningMellowGame.in
game.in
main.cpp
morningNormalGame.in
morningPeacefulGame.in
new.in
player_string.exe
randomGame.in
randomShortGame.in
random_game.in
result.csv
save.in
test.cpp
